.fondo{
    background-color: #3E145B !important;
    color: white;
}

.navbar-light .navbar-nav .nav-link{
 color: white;
}

.btn{
    border-radius: 15px;
}
.btn-outline:hover{
    background-color:  #61488f;
    border-color: #34103f;
    font-weight: bold;
}