<div class="container mt-5">
    <div class="row ">
        
        <div class="col-lg-12 d-flex justify-content-center">
            <form (ngSubmit)="buscarPerros(termino)" class="input-group input-group-lg mb-3" style="width: 60%;" >
                <input 
                name= "termino"
                [(ngModel)]="termino"
                
                type="text" 
                class="form-control " 
                placeholder="Buscar raza...">

                <button class="btn btn-primary btn-primary-spacing"type="submit">
                    Enviar
                </button>

                
            </form>
        </div>

    </div>
</div>

<div *ngIf="perros?.length==0" class="alert alert-danger">
    No se encontró nada con el término: <span [innerHTML]="termino | negrita | uppercase"></span>
</div>
<div class="row container pb-5 mx-auto">
    <div *ngFor="let perro of perros"
        class="col-lg-4">
        <app-fundacion-resultados nombresPerros= "{{perro.nombre}}" razaPerros="{{perro.name}}" imagenPerros="{{perro.url}}"></app-fundacion-resultados>
    </div>
</div>



